body {
    height: 100vh;
    margin: 0;
    background-color: lightgreen;
  }
  
  #game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
  }
  
  canvas {
    border: 1px solid #fff;
  }